In [1]:
import get_data

import pandas as pd
import numpy as np
import yfinance as yf

In [2]:
data = get_data.get_apple_stock()

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

Price        Date       Close Price_Change
Ticker                   AAPL
1      2024-02-29  179.900528    -0.666855
2      2024-03-01  178.815674    -1.084854
3      2024-03-04  174.277084    -4.538589
4      2024-03-05  169.320496    -4.956589
5      2024-03-06  168.325180    -0.995316
..            ...         ...          ...
247    2025-02-24  247.100006     1.550003
248    2025-02-25  247.039993    -0.060013
249    2025-02-26  240.360001    -6.679993
250    2025-02-27  237.300003    -3.059998
251    2025-02-28  240.660004     3.360001

[251 rows x 3 columns]